@import url('https://fonts.googleapis.com/css2?family=Anton&family=Homemade+Apple&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Homemade+Apple&family=Lato:wght@300;400&family=Open+Sans&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 16px;
}
.container1{
    width: 1170px;
    height: 900px;
    margin: auto;
}
.container{
    width: 1170px;
    margin: auto;
}
.header{
    background: url('./images/header-bg.jpg') no-repeat center top / cover;
    padding-top: 57px;
    color: #ffff;
}
section{
    padding-top: 113px;
}
header a{
    color: #ffff;
}
.logo{
    margin-right: 69px;
}
.menu{
    display: flex;
}
.menu li a{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.menu li{
    margin-right: 40px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p {
   margin: 0;
}
ul li{
    display: block;
    padding: 0;
    margin: 0   ;
}
.tel{
    font-size: 17px;
    margin-left: auto;
    letter-spacing: 0.1em;
}
.nav{
    display: flex;
    align-items: center;
}
.offer{
    text-transform: uppercase;
    margin-top: 216px;
}
.offer p {
    font-size: 30px;
}
.offer h1{
    font-size: 100px;
    margin-bottom: 19px;
    margin-top: -9px;
    letter-spacing: 0.02em; 
    
}
.btn{
    display: block;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 16px 0px;
    border: 1px solid #fff;
    width: 238px;
    transition: all 0.5s ease;  
}
.btn:hover{
    background: #fff;
    color: #000;
}
.discription{
    display: flex;
    justify-content: space-between;
}
.discription p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}
h2{
    font-size: 50px;
    text-transform: uppercase;

}
h3{
    font-size: 25px;
    text-transform: uppercase;
   
}

.desc-left, .desc-right{
    width: 564px;
    font-size: 16px;
    line-height: 26px;    
}
.gallery{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}
.footer-text{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    padding: 114px 0;
}
.footer-text p{
    margin-right: 67px;
    
}